*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Background Image */
.main_box{
    background: url("/photo.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;   
}
/* MENU icon */
.btn_one{
    color: white;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    z-index: 3;
    width: 16%;
}
.btn_one i{
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
.btn_one i:hover{
    cursor: pointer;
    transform: scale(1.2);
}
/* SideBar Menu */
.sidebar_menu {
    position: fixed;
    left: -310px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100vh;
    width: 300px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
    border-radius: 0px 20px 20px 0px;
    transition: all 0.2s ease 0s;
}
/* Sidebar menu Logo */
.sidebar_menu .logo{
    line-height: 60px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.sidebar_menu .logo a{
    position: absolute;
    padding-left: 90px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.3);
    width: 100%;
    border-radius: 0px 20px 0px 0px;
}
/* Sidebar menu items */
.sidebar_menu .menu{
    color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    top: 60px;
}
.sidebar_menu .menu li{
    margin-top: 20px;
    padding: 10px 20px;
    transition: all 0.2s ease 0s;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    
}
.sidebar_menu .menu i,a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 10px;
}
/* Sidebar Menu Social media */
.sidebar_menu .social_media  {
    
    position: absolute;
    bottom: 10px;
    left: 20%;
}
.sidebar_menu .social_media i{
    padding: 0px 10px;
    transition: all 0.2s ease 0s;
    opacity: 0.5;
}
.sidebar_menu .social_media i:hover{
    transform: scale(1.5);
    opacity: 1;
}

/* Checkbox */
#check{
    display: none;
}
#check:checked ~ .sidebar_menu{
    left: 0;
}